<app-carousel-banner></app-carousel-banner>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>

