@defer (on viewport) {
    <app-carousel-banner></app-carousel-banner>
} @placeholder {
    <app-loader-spin></app-loader-spin>
} @loading {
    <app-loader-spin></app-loader-spin>
}

<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>
<p class="text-white">home works!</p>

